# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.swp
KiD_AMP.o*
cu_2d.nml
.DS_Store
core-cheyenne*

# output files
*/output/*
*.out
*.err
.includes
AMP_SBM.nml
AMP_TAU.nml
BIN_SBM.nml
BIN_TAU.nml
THOM.nml
*/namelists/jobnml/*

# misc
.remote-sync.json
.nfs*
